<app-page-content [pageContent]="aboutUs" [showOrderButton]="false" [aboutUsComponent]="true" [below]="true">
  <div class="home-description">
    <p>Fueled by bold ideas, passion-soaked words, and an ardent desire to create something unique, Emily and Nathan decided to turn their dream into reality. Today, every cupcake and dessert at "Bakery - The Shop" carries the imprint of the passion and excitement that birthed this idea.</p>
    <p>Drop by for a visit, and chances are you'll find them chatting with regulars who have become cherished friends.</p>
  </div>
</app-page-content>
