.card{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1em;
  margin-bottom: 1.5em;
}

.left-section{
  height: 10em;
  width: 7em;
}

.left-section img{
  height: 100%;
  width: 100%;
}

.right-section{
  display: flex;
  width: calc(100% - 7em);
  padding-left: 1.5em;
  flex-direction: column;
}

.right-sect-header,
.right-sect-bottom{
  display: flex;
  align-items: center;
  padding: 0.2em 0 0.6em 0;
}

.title{
  font-size: 1.5em;
}

.delete-icon{
  margin-left: auto;
  padding-right: 1.1em;
}

.delete-icon{
  height: 30px;
  font-size: 30px;
  color: gray;
}

.delete-icon:hover{
  cursor: pointer;
}

.right-sect-bottom{
  margin-top: auto;
}

.total{
  margin-left: auto;
  font-size: 1.1em;
}

@media (max-width: 700px) {

  .left-section{
    height: 8em;
    width: 5.2em;
  }

  .title{
    font-size: 1.2em;
  }

  .delete-icon{
    height: 27px;
    font-size: 27px;
  }

  .total{
    font-size: 1em;
  }
}