<div class="title">
  Join the Club
</div>

<div class="message">
  Support and enjoy our vision.
</div>

<div class="icons">
  <div class="icon">
    <img src='./assets/icons/instagram-icon.svg' alt="Instagram">
  </div>
  <div class="icon">
    <img src='./assets/icons/twitter-icon.svg' alt="Twitter">
  </div>
  <div class="icon">
    <img src='./assets/icons/facebook-icon.svg' alt="Facebook">
  </div>
  <div class="icon">
    <img src='./assets/icons/youtube-icon.svg' alt="YouTube">  
  </div>
</div>

<div class="message">
  © 2024 Bakery - The Shop. All Rights Reserved. Bucharest, RO
</div>