<app-page-content [pageContent]="aboutUs" [showOrderButton]="false" [centeredComponent]="true">
  <div class="page-description">
    <p>In the heart of San Francisco, Emily Turner and Nathan Brooks found themselves caught in a whirlwind of tantalizing aromas and the hustle and bustle of their favorite neighborhood. Drawn by the sweet scent of freshly baked pastries and the rich aroma of freshly ground coffee, they couldn't help but stop at a vibrant storefront, bursting with delightful treats.</p>
    <p>Fueled by bold ideas, passion-soaked words, and an ardent desire to create something unique, Emily and Nathan decided to turn their dream into reality. Today, every cupcake and dessert at Bakery-The Shop carries the imprint of the passion and excitement that birthed this idea.</p>
    <p>Drop by for a visit, and chances are you'll find them chatting with regulars who have become cherished friends.</p>
  </div>
</app-page-content>
