<app-page-content [pageContent]="joinOurTeam" [showOrderButton]="false">

  <div class="page-description">
    <p>Whether you're a passionate dessert enthusiast or a master of the pastry arts, our establishment welcomes you with open arms to indulge in an impressive array of freshly-made treats, from fluffy croissants to decadent tortes and refined macarons.</p>
    <p>But more than just a place to purchase goods, we're a community of individuals dedicated to the culinary craft, eager to share our passion for authentic tastes and memorable culinary experiences.</p>

    <div class="title">
      Employment Application Form
    </div>

    <form [formGroup]="formGroup">
      <div class="field">
        <div class="field-description">
          <label><b>Please select a city</b></label>
          <span class="required-field"><i>(Required)</i></span>
        </div>
        <mat-form-field color="warn">
          <mat-label>Choose</mat-label>
          <mat-select formControlName="cityControl" [errorStateMatcher]="matcher">
            @for (city of cities; track city.name) {
              <mat-option [value]="city">{{city.name}}</mat-option>
            }
          </mat-select>
          @if (formGroup.get('cityControl')?.hasError('required')) {
            <mat-error>Please choose a city</mat-error>
          }
        </mat-form-field>

        <div class="title">
          <i>Personal Information</i>
        </div>
      </div>
  
      <div class="fields">
        <div class="field">
          <div class="field-description">
            <label><b>First name</b></label>
            <span class="required-field"><i>(Required)</i></span>
          </div>
          <mat-form-field color="warn">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstNameFormControl" [errorStateMatcher]="matcher"> 
            @if (formGroup.get('firstNameFormControl')?.hasError('required')) {
              <mat-error>First name is required</mat-error>
            }
          </mat-form-field>
        </div>
  
        <div class="field">
          <div class="field-description">
            <label><b>Last name</b></label>
            <span class="required-field"><i>(Required)</i></span>
          </div>
          <mat-form-field color="warn">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastNameFormControl" [errorStateMatcher]="matcher"> 
            @if (formGroup.get('lastNameFormControl')?.hasError('required')) {
              <mat-error>Last name is required</mat-error>
            }
          </mat-form-field>
        </div>
  
        <div class="field">
          <div class="field-description">
            <label><b>Date of birth</b></label>
            <span class="required-field"><i>(Required)</i></span>
          </div>
          <mat-form-field color="warn">
            <mat-label>Choose a date</mat-label>
            <input matInput formControlName="dateFormControl" [matDatepicker]="picker" [errorStateMatcher]="matcher">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (formGroup.get('dateFormControl')?.hasError('required') && formGroup.get('dateFormControl')?.touched) {
              <mat-error>Date is required</mat-error>
            }
          </mat-form-field>
        </div>
  
        <div class="field">
          <div class="field-description" [ngClass]="{'below-date-field': SmallScreen}">
            <label><b>Phone number</b></label>
            <span class="required-field"><i>(Required)</i></span>
          </div>
          <mat-form-field color="warn">
            <mat-label>Phone number</mat-label>
            <span class="phone-number-prefix" matTextPrefix>+40 &nbsp;</span>
            <input matInput formControlName="phoneNumberFormControl" [errorStateMatcher]="matcher" placeholder="722-555-134">
            <mat-icon matSuffix>phone</mat-icon> 
            @if (formGroup.get('phoneNumberFormControl')?.hasError('required')) {
              <mat-error>Phone number is required</mat-error>
            }
            @if (formGroup.get('phoneNumberFormControl')?.hasError('pattern') && formGroup.get('phoneNumberFormControl')?.touched) {
              <mat-error>Phone number is incorrect</mat-error>
            }
          </mat-form-field>
        </div>
  
        <div class="single-line-field" [ngClass]="{'below-date-field': !SmallScreen}">
          <div class="field-description">
            <label><b>Email</b></label>
            <span class="required-field"><i>(Required)</i></span>
          </div>
          <mat-form-field color="warn">
            <mat-label>Enter your email</mat-label>
            <input matInput formControlName="emailFormControl" [errorStateMatcher]="matcher" placeholder="firstName@gmail.com">
            <mat-icon matSuffix>mail</mat-icon> 
            @if (formGroup.get('emailFormControl')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
            }
            @if (formGroup.get('emailFormControl')?.hasError('email') && formGroup.get('emailFormControl')?.touched) {
              <mat-error>Email is invalid</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </form>

    <div class="single-line-field">
      <div class="field-description">
        <label><b>Upload your CV</b></label>
        <span class="required-field"><i>(Required)</i></span>
      </div>
      <input type="file" class="file-input" #fileUpload>
      <div class="file-upload">
        <button mat-mini-fab color="warn" (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <span class="upload-message">{{fileName || "No file uploaded yet."}}</span>
      </div>
    </div>
    
    <button mat-raised-button class="submit-button" color="warn">Submit</button>
  </div>
</app-page-content>