<app-menu-bar></app-menu-bar>

<main class="page-content" app-on-scroll>
  <section class="left-part">
      <img [src]="pageContent.leftPhoto" alt="Our bakery">
  </section>

  <section class="right-part">
    <div class="right-part-content"
      [ngClass]="{'centered': this.centeredComponent, 'footer': this.littleContent}">
        @if(pageContent.rightPhoto){
          <img [src]="pageContent.rightPhoto" alt="Christmas spirit">
        }
    
        <div class="page-title">
          {{ pageContent.title }}
        </div>
    
        <div class="page-description">
          {{ pageContent.description }} 
          <ng-content></ng-content>
        </div>
        
        @if(showOrderButton){
          <button class="order-now-button">
              Order now
          </button>
        }
    </div>
    <app-follow-us [ngClass]="{'footer': this.littleContent}"></app-follow-us>
  </section>
</main>
