<app-menu-bar></app-menu-bar>

<div class="images-container">
  <div class="left-container">
    <img class="mySlides" src="./assets/slides/pic1-slide.jpg">
    <img class="mySlides" src="./assets/slides/pic2-slide.jpg">
    <img class="mySlides" src="./assets/slides/pic3-slide.jpg">
  </div>
  
  <div class="right-container">
    <div class="products-container">
      <img class="mySlides" src="./assets/slides/pic4-slide.jpg">
      <img class="mySlides" src="./assets/slides/pic5-slide.jpg">
      <img class="mySlides" src="./assets/slides/pic6-slide.jpg">
    </div>
    
    <div class="products-container">
      <img class="mySlides" src="./assets/slides/pic7-slide.jpg">
      <img class="mySlides" src="./assets/slides/pic8-slide.jpg">
      <img class="mySlides" src="./assets/slides/pic9-slide.jpg">
    </div>
  </div>
</div>

<div class="header-list-products">
  <mat-form-field class="select-box" color="warn" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Sort by</mat-label>
    <mat-select hideSingleSelectionIndicator>
        <mat-option> None </mat-option>
        <mat-option value = "2" > Recommended </mat-option>
        <mat-option value = "3" > Lowest Price </mat-option>
        <mat-option value = "4" > Highest Price </mat-option>
    </mat-select>
  </mat-form-field>

  <div appSmallerScreen class="filter-buttons">
    <div class="category-button" [ngClass]="isPastryClicked()" color="warn" (click)="showPastryList()">Pastry</div>
    <div class="category-button" [ngClass]="isCoffeesClicked()" color="warn" (click)="showCoffeeList()">Coffees</div>
  </div>
  
  <mat-paginator class="paginator" color="warn"
                [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
  </mat-paginator>

</div>

<div appSmallerScreen class="filter-buttons-small">
  <div class="category-button" [ngClass]="isPastryClicked()" color="warn" (click)="showPastryList()">Pastry</div>
  <div class="category-button" [ngClass]="isCoffeesClicked()" color="warn" (click)="showCoffeeList()">Coffees</div>
</div>

<div class="menu">
  <div class="products-list"> 
    @if (this.selectedCategory == "Pastry"){
      @for (product of pastry; let i = $index; track product.id){
        <app-product [product]="product" [category]="this.selectedCategory" [ngClass]="{'last-row': isLastRow(i)}"></app-product> 
        <!--TO DO: logic for the last row of the products list-->
      }
    }
    @else {
      @for (product of coffees; let i = $index; track product.id){
        <app-product [product]="product" [category]="this.selectedCategory" [ngClass]="{'last-row': isLastRow(i)}"></app-product>      
      }
    }
  </div>
</div>

<app-follow-us></app-follow-us>