<div class="menu-bar">
  <div class="left-section">
    <div class="menu-bar-link">
      <a routerLink="/" class="menu-bar-link">
        <img src="./assets/logo.png" alt="Logo Bakery">
      </a>
    </div>
  </div>

  <div class="middle-section">
    <a routerLink="/menu-page" class="menu-bar-link">Menu</a>
    <a routerLink="/delivers-page" class="menu-bar-link">Delivers</a>
    <a routerLink="/locations-page" class="menu-bar-link">Locations</a>
  </div>

  <div class="right-section">
    <a routerLink="/join-page" class="menu-bar-link">Join our team</a>
    <a routerLink="/about-us-page" class="menu-bar-link">About Us</a>
  </div>  
</div>

