<mat-card class="card">
  
  <mat-card-header>
    <mat-card-title class="title"> 
      {{ product.title }}
    </mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="product.image" alt="Product">
  <mat-card-content class="content">
    
    <div class="price">
      €{{ product.price }}
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button class="see-more-button" color="warn" (click)="openDialog()">See more</button>
    <div class="icons">
      <mat-icon class="fav-icon" [fontIcon]="isHovered? 'favorite' : 'favorite_border'" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" aria-hidden="false">favorite_border</mat-icon>
      <mat-icon class="shopping-cart-icon" fontIcon="shopping_cart" aria-hidden="false">shopping_cart</mat-icon>
    </div>
  </mat-card-actions>

</mat-card>