<nav class="navbar navbar-expand-md">
  <div class="left-section">
    <div class="logo-container">
      <a href="/" class="nav-link">
        <img src="./assets/logo.png" alt="Logo Bakery">
      </a>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav middle-section">
        <li class="nav-item">
          <a href="/menu-page" class="nav-link">Menu</a>
        </li>
        <li class="nav-item">
          <a href="/locations-page" class="nav-link">Locations</a>
        </li>
        <li class="nav-item">
          <a href="/about-us-page" class="nav-link">About us</a>
        </li>
      </ul>

      <ul class="navbar-nav right-section">
        <li class="nav-item">
          <a href="/join-page" class="nav-link">Join our team</a>
        </li>
        <li class="nav-item">
          <a href="/shopping-cart-page" class="nav-link">Shopping cart</a>
        </li>
        <li class="nav-item">
          <a href="/my-account-page" class="nav-link">My account</a>
        </li>
      </ul>
  </div>
</nav>
