<app-page-content [pageContent]="myAccount" [showOrderButton]="false" [centeredComponent]="true">
  <div class="page-description">
    <div class="fields">
      <div class="single-line-field">
        <div class="field-description">
          <label><b>Email Adress</b></label>
        </div>
        <mat-form-field color="warn">
          <input matInput [placeholder]="emailPlaceholder" [formControl]="email" required>
          <mat-icon matSuffix>email</mat-icon>
          @if (email.invalid) {
            <mat-error>{{getErrorMessageEmail()}}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="single-line-field">
        <div class="field-description">
          <label><b>Password</b></label>
        </div>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      @if (!signUpClicked){
        <mat-checkbox color="warn">Remember me</mat-checkbox>
      }
    </div>
    @if (!signUpClicked && !signedUp){
      <div class="new-account-description">
        <span>Don't have an account yet? </span>
        <span class="sign-up" (click)="signUpToAppear()"><u>Sign Up</u></span>
      </div>
    }
    <button mat-raised-button class="login-button" (click)="signedUpMethod()" color="warn">{{ buttonText }}</button>

    @if (signedUp){
      <div class="sign-up-description">
        <span>You are now signed up! Click here to </span>
        <span class="sign-up" (click)="areSignedUp()"><u>log in.</u></span>
      </div>
    }
  </div>
</app-page-content>
