* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: black;
  font: 400 17.5px 'MaisonNeue', sans-serif !important;
  line-height: var(--bs-body-line-height) !important;
  transition: font-size 0.5s;
}

.black-c{
  color: black;
}
